body {
  font-size: 16px;
  color:white;
 background-color:black;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color:black;
  border-bottom: solid white;
  border-right: 0;
  border-left: 0;


}

#logo-img{
	background:url(../logo/glogo2.png);
	float: left;
	height: 150px;
	width: 150px;



}
.navbar-brand{
	padding-top: 30px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color:white;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px #222;*/
  
}

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
.navbar-header a:hover{
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background:#00CCFF
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align:right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: white;
  text-align: right;
  padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -100px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #00CCFF;
}

.container .jumbotron {
  box-shadow: 0 0 50px black;
  border: 2px solid white;
}
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid white;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 2px 5px 1px #00CCFF;
}
#menu-tile {
  background: url('../logo/menu2.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../logo/specials.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #ffcc;
  opacity: .8;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../logo/c1200.jpg') no-repeat;
    height: 675px;

  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../logo/c992.jpg') no-repeat;
    height: 558px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../logo/c767.jpg') no-repeat;
    height: 432px;
  }
}
/********** extra Small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  .container .jumbotron{
  	margin-top: 30px;
  	padding: 0;
  	border:2px solid white;
  }

  #logo-img{
    background: url(../logo/70.png) ;
    width:70px;
    height:70px;
    margin:10px; 

  }

  .navbar-brand{ 
    padding-top: 7px;
    height:130px;
    }
  .navbar-brand h1{
    padding-top: 8px;
    font-size: 6vw;
}
#collapsable-nav a{
	font-size: 1.2em;
}
#collapsable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}

#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color:#00CCFF;
    color: white;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  
}
